
<html>
<head>
    <title>Classify Sentences</title>
</head>
<body>
<h1>Classify Sentences</h1>
<form action="" method="post">
    <table>
        {{form1.as_table}}
        <tr><td colspan='2'><input type="submit" value="Submit"></td></tr>
    </table>
</form>
    <p>Hi there!</p>
    <p>It works!</p>
    <p>{{list}}</p>
    <h1>{{posts}}</h1>
    <tr>
        <th><label for="id_title">Title:</label></th>
        <td><input type="text" name="title" id="id_title" /></td>
    </tr>
    <tr>
        <th><label for="id_desc">Description:</label></th>
        <td><input type="text" name="desc" id="id_desc" /></td>
    </tr>
</body>
</html>
